---
import BaseLayout from '../layouts/BaseLayout.astro';
import TextHero from '../components/TextHero.astro';
const pageTitle = "Privacy Policy - Oonagability Triffeliz";
---
<BaseLayout pageTitle={pageTitle}>

	<TextHero 
		heading="Privacy Policy" 
		blurb="At Oonagability Triffeliz, we respect your privacy and are committed to protecting it. Our Privacy Policy explains what information we collect, how we use it, and the steps we take to ensure your information remains private and secure." 
	/>
	<section>
		<div class="bg-white px-6 py-16 lg:px-8">
		    <div class="mx-auto max-w-3xl text-base leading-7">
				<p class="mt-10 text-xl tracking-tight text-slate-700">Welcome to the Privacy Policy of Oonagability Triffeliz. This document explains how we collect, use, disclose, and safeguard your personal information when you interact with our brands, visit our website, or use our services. We respect your privacy and are committed to keeping your personal data safe.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">We collect personal information that you voluntarily provide to us when you express interest in obtaining information about us or our products and services. The personal information we collect may include your name, email address, phone number, and other information you choose to provide.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">We use the information we collect to provide, maintain, and improve our services, to process transactions, communicate with you, respond to your inquiries, and for other business purposes.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">We do not share your personal information with third parties without your consent, except to comply with laws, to protect your rights, or to fulfill business obligations. We may use cookies and similar tracking technologies to collect and store your information.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">We have implemented appropriate security measures to protect the security of your personal information. However, please also remember that we cannot guarantee that the internet itself is 100% secure.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the "Last Updated" date of this Privacy Policy. We encourage you to periodically review this Privacy Policy to stay informed of updates.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">If you have questions or comments about this Privacy Policy, you can contact us at: <a href="mailto:info@triffoona.com">info@triffoona.com</a>.</p>
		   	</div>
		</div>
	 </section>

</BaseLayout>


