---
import BaseLayout from '../layouts/BaseLayout.astro';
import TextHero from '../components/TextHero.astro';
const pageTitle = "Terms of Service - Oonagability Triffeliz";
---
<BaseLayout pageTitle={pageTitle}>

	<TextHero 
		heading="Terms of Service" 
		blurb="These Terms of Service govern your access to and use of our websites, products, and services. Please read these terms carefully before using our offerings."
	/>
	<section>
		<div class="bg-white px-6 py-16 lg:px-8">
		    <div class="mx-auto max-w-3xl text-base leading-7">
				<p class="mt-10 text-xl tracking-tight text-slate-700">Welcome to Oonagability Triffeliz. These Terms of Service ("Terms") govern your access to and use of our websites, products, and services ("Services"). By using our Services, you agree to these Terms. If you disagree with any part of the terms, then you may not access our Services.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">Oonagability Triffeliz reserves the right to modify or revise these Terms at any time, and we'll make sure to change the "Last Updated" date at the top of this page so you can tell if these Terms have changed since your last visit. Your continued use of our Services following a change in the Terms signifies your acceptance of any changes.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">All of the content that appears on our website, including logos, icons, trademarks, text, graphics, photographs, images, moving images, sound, illustrations and software ("Content"), is the property of Oonagability Triffeliz and its affiliated companies or licensors. Your misuse of any Content is strictly prohibited and may violate copyright and trademark laws, and various other regulations and statutes.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">Our Services may contain links to other sites that are not operated by us. If you click on a third-party link, you will be directed to that third party's site. We strongly advise you to review the terms and privacy policy of every site you visit. We have no control over and assume no responsibility for the content, privacy policies or practices of any third-party sites or services.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">In no event shall Oonagability Triffeliz, nor its directors, employees, partners, agents, suppliers, or affiliates, be liable for any indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from your use of our Services.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">Your use of the Service is at your sole risk. The Service is provided on an "AS IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any kind, whether express or implied, including, but not limited to, implied warranties of merchantability, fitness for a particular purpose, non-infringement or course of performance.</p>
				<p class="mt-10 text-xl tracking-tight text-slate-700">If you have questions or comments about these Terms of Service, you can contact us at: <a href="mailto:info@triffoona.com">info@triffoona.com</a>.</p>
		   	</div>
		</div>
	 </section>

</BaseLayout>


