---

---
<section class="relative w-full pt-10 pb-10 bg-gray-900">
    <div class="max-w-6xl px-12 mx-auto">
        <h3 class="mt-1 text-xl font-medium text-left text-gray-100 sm:text-3xl md:text-4xl">
            Frequently Asked Questions
        </h3>

        <div class="flex flex-col w-full py-6 mx-auto mt-10 border-t border-gray-700 md:flex-row sm:py-8 sm:shadow">
            <h3 class="mb-2 mr-10 text-lg font-medium text-gray-200 md:mb-0 md:w-1/4 sm:text-xl md:text-lg">
                Who is Oonagability Triffeliz?
            </h3>
            <p class="text-base text-gray-400 sm:text-lg md:text-normal md:w-3/4 ">
                Oonagability Triffeliz is a multifaceted parent company that manages a diverse portfolio of brands across various industries, such as jewellery, cakes, pet products, yoga classes, and more. It was established with the intent of creating high-quality, innovative, and ethically-sourced products and services that cater to a wide array of consumer needs.
            </p>
        </div>
        <div class="flex flex-col w-full py-6 mx-auto mt-10 border-t border-gray-700 md:flex-row sm:py-8 sm:shadow">
            <h3 class="mb-2 mr-10 text-lg font-medium text-gray-200 md:mb-0 md:w-1/4 sm:text-xl md:text-lg">
                When was Oonagability Triffeliz founded and where is it based?
            </h3>
            <p class="text-base text-gray-400 sm:text-lg md:text-normal md:w-3/4 ">
                Oonagability Triffeliz was established in 2023 and is based in the vibrant city of Melbourne, Australia. However, our brands have a broad reach, with products and services being enjoyed by customers worldwide.
            </p>
        </div>
        <div class="flex flex-col w-full py-6 mx-auto mt-10 border-t border-gray-700 md:flex-row sm:py-8 sm:shadow">
            <h3 class="mb-2 mr-10 text-lg font-medium text-gray-200 md:mb-0 md:w-1/4 sm:text-xl md:text-lg">
                How does Oonagability Triffeliz ensure value in its products and services?
            </h3>
            <p class="text-base text-gray-400 sm:text-lg md:text-normal md:w-3/4 ">
                Oonagability Triffeliz is committed to providing value at every level. We ensure this by focusing on the quality and durability of our products, ethical sourcing and sustainability in our manufacturing processes, and maintaining exceptional customer service standards. Furthermore, we continuously invest in research and development to innovate and provide the best possible products and services to our customers.
            </p>
        </div>
        <div class="flex flex-col w-full py-6 mx-auto mt-10 border-t border-gray-700 md:flex-row sm:py-8 sm:shadow">
            <h3 class="mb-2 mr-10 text-lg font-medium text-gray-200 md:mb-0 md:w-1/4 sm:text-xl md:text-lg">
                Why choose Oonagability Triffeliz's brands?
            </h3>
            <p class="text-base text-gray-400 sm:text-lg md:text-normal md:w-3/4 ">
                Choosing Oonagability Triffeliz's brands means choosing diversity, quality, and value. Our brands cater to a wide range of consumer interests, with each brand maintaining high standards of product and service quality. Whether you're seeking timeless jewellery pieces, delicious cakes, high-tech pet products, or holistic yoga classes, Oonagability Triffeliz has a brand that delivers. Our commitment to ethical sourcing, sustainability, and customer satisfaction adds to the desirability of our brands.
            </p>
        </div>

    </div>
</section>