---

---
<section class="relative border bg-gray-900 border-gray-700">
    <div class="text-xs text-gray-400 space-y-4 border-b border-gray-700 relative">
        <div class="max-w-7xl border-l border-r border-gray-700 py-6 relative h-full px-10 mx-auto flex flex-col sm:items-center sm:justify-between md:flex-row md:space-y-0">
            <p class="md:mb-0 mb-1">Diverse. Delights. Delivered.</p>
            <div class="flex sm:flex-row flex-col items-start sm:items-center">
                Visit our social channels
                <nav class="flex sm:ml-3 md:mt-0 mt-3 items-center space-x-3">
                    <a href="https://twitter.com/triffeliz" class="transition flex hover:text-white">
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
                        </svg>
                    </a>
                    <a href="https://github.com/jimmy2/triffoona.com" class="transition flex hover:text-white">
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z" clip-rule="evenodd"></path></svg>
                    </a>
                    <a href="https://www.youtube.com/channel/UCnZlddgs1K_lEUPl3_pxOzQ" class="transition flex hover:text-white">
                        <svg class="w-5 h-5 fill-current" viewBox="0 0 80 56" xmlns="http://www.w3.org/2000/svg"><path d="m41.771 55.637-16.395-.3c-5.308-.104-10.63.104-15.834-.978-7.916-1.618-8.477-9.548-9.064-16.2-.809-9.35-.496-18.872 1.03-28.145.862-5.204 4.252-8.309 9.495-8.647C28.703.141 46.52.287 64.18.86c1.865.052 3.743.339 5.582.665 9.078 1.591 9.299 10.578 9.888 18.143.586 7.642.339 15.325-.783 22.915-.9 6.285-2.622 11.556-9.888 12.065-9.104.665-18 1.2-27.129 1.03 0-.04-.052-.04-.078-.04Zm-9.638-15.912c6.86-3.94 13.59-7.813 20.411-11.725-6.873-3.94-13.59-7.813-20.411-11.726v23.451Z" fill-rule="nonzero"></path></svg>
                    </a>
                    <a href="https://www.linkedin.com/in/oonagability-triffeliz-051931274/" class="transition flex hover:text-white">
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M22.23 0H1.79C.8 0 0 .77 0 1.72v20.56C0 23.23.8 24 1.79 24h20.45c.98 0 1.79-.77 1.79-1.72V1.72C24 .77 23.22 0 22.23 0zM7.46 20.49H3.96V9h3.5v11.49zM5.71 7.98c-1.13 0-2.04-.91-2.04-2.04 0-1.13.91-2.03 2.04-2.03 1.13 0 2.03.9 2.03 2.03 0 1.13-.9 2.04-2.03 2.04zm15.04 12.51h-3.5v-5.57c0-1.33 0-3.04-1.85-3.04-1.86 0-2.15 1.45-2.15 2.94v5.67h-3.5V9h3.37v1.57h.05c.47-.88 1.6-1.82 3.3-1.82 3.53 0 4.18 2.33 4.18 5.36v6.38z"></path>
                        </svg>
                    </a>
                    <a href="https://www.pinterest.com.au/oonagabilitytriffeliz/" class="transition flex hover:text-white">
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24">
                            <path d="M12.326 1.001c-6.07 0-9.21 4.446-9.21 8.261 0 2.261 1.01 4.221 3.348 4.96.371.125.706.02.815-.4.08-.32.273-1.139.36-1.481.108-.42.07-.57-.238-.94-.693-.84-.962-1.92-.962-3.04 0-3.92 2.963-7.18 7.62-7.18 4.14 0 6.41 2.39 6.41 5.58 0 4.21-1.72 7.75-4.29 7.75-1.34 0-2.34-1.1-2.02-2.45.36-1.51 1.06-3.14 1.06-4.23 0-.98-.524-1.8-1.61-1.8-1.28 0-2.31 1.32-2.31 3.08 0 1.12.39 1.88.39 1.88s-1.3 5.42-1.54 6.39c-.36 1.4-.06 3.31-.03 3.48.02.12.17.15.25.06.09-.09 1.2-1.48 1.57-2.86.12-.46.69-2.86.69-2.86.34.65 1.33 1.21 2.39 1.21 3.13 0 5.45-2.88 5.45-7.16 0-3.67-2.84-6.23-6.7-6.23z"></path>
                        </svg>
                    </a>
                </nav>
            </div>
        </div>
    </div>
    <div class="flex md:flex-row flex-col-reverse items-stretch border-l border-r border-gray-700 justify-center h-full mx-auto max-w-7xl md:space-x-10">
        <div class="flex w-full md:w-1/2 flex-col sm:items-center justify-center space-y-5 p-10 md:pr-0 md:items-start">
            <a href="#_" class="text-white flex items-center">
                <svg class="h-6 w-auto mr-3" viewBox="0 0 73 49" fill="none" xmlns="http://www.w3.org/2000/svg"> 
                    <path d="M46.8676 24C46.8676 36.4264 36.794 46.5 24.3676 46.5C11.9413 46.5 1.86765 36.4264 1.86765 24C1.86765 11.5736 11.9413 1.5 24.3676 1.5C36.794 1.5 46.8676 11.5736 46.8676 24Z" class="ccustom" fill="#2A669F"></path> 
                    <path d="M71.1324 24C71.1324 36.4264 61.1574 46.5 48.8529 46.5C36.5484 46.5 26.5735 36.4264 26.5735 24C26.5735 11.5736 36.5484 1.5 48.8529 1.5C61.1574 1.5 71.1324 11.5736 71.1324 24Z" class="ccompli1" fill="#1B3366"></path> 
                    <path d="M36.6705 42.8416C42.8109 38.8239 46.8676 31.8858 46.8676 24C46.8676 16.1144 42.8109 9.17614 36.6705 5.15854C30.5904 9.17614 26.5735 16.1144 26.5735 24C26.5735 31.8858 30.5904 38.8239 36.6705 42.8416Z" class="ccompli2" fill="#FFFFFF"></path> 
                </svg>
                <span class="">Oonagability Triffeliz</span>
            </a>
            <nav class="flex flex-col flex-wrap sm:items-center space-y-4 text-xs font-medium text-gray-500 sm:flex-row sm:space-x-3  lg:space-x-4 sm:space-y-0">
                <a href="/" class="hover:text-white">Oonagability Triffeliz</a>
                <a href="/about" class="hover:text-white">About</a>
                <a href="/contact" class="hover:text-white">Contact</a>
                <a href="#_" class="hover:text-white">Brands</a>
                <a href="/blog" class="hover:text-white">Blog</a>
            </nav>
            <p class="sm:text-center text-xs leading-5 text-gray-500 md:text-left">
                Curating Uncommon Delights: Oonagability Triffeliz enriches everyday life with a colorful tapestry of products and services, from artisanal jewelry and gourmet treats, to wellness experiences and innovative pet solutions.
            </p>
        </div>
        <div class="flex w-full md:w-0 border-b md:border-r border-gray-700"></div>
        <div class="w-full md:w-1/2 md:pl-0 p-10 flex sm:items-center md:items-start flex-col justify-center">
            <h4 class="font-bold uppercase text-gray-100">Stay updated</h4>
            <p class="sm:text-center my-3 text-xs leading-5 text-gray-500 md:text-left">If you want to get notified about our latest features and updates fill out the form below and we promise to only send you updates once a week.</p>
            <div class="flex w-full space-x-2">
                <input type="text" placeholder="Enter your email" class="block w-full rounded bg-gray-700 placeholder-gray-400 border-gray-700 border text-sm transition px-3" />
                <button type="submit" class="inline-flex w-auto flex-shrink-0 cursor-pointer select-none appearance-none items-center justify-center space-x-1 rounded bg-purple-700 px-3 py-2 text-sm font-medium text-white transition focus:outline-none focus:ring-2 focus:ring-purple-700">
                    Sign up
                </button>
            </div>
        </div>
    </div>
    <div class="text-xs text-gray-400 space-y-4 border-t border-gray-700">
        <div class="max-w-7xl border-l border-r border-gray-700 py-6 h-full px-10 mx-auto flex flex-col sm:items-center sm:justify-between md:flex-row md:space-y-0">
            <p>&copy; 2023 Oonagability Triffeliz</p>
            <nav class="flex flex-col space-y-1.5 md:mt-0 mt-4 sm:flex-row sm:space-y-0 sm:space-x-3">
                <a href="/terms" class="transition hover:text-white">Terms of Service</a>
                <a href="/privacy" class="transition hover:text-white">Privacy Policy</a>
            </nav>
        </div>
    </div>
</section>