---
import Navbar from "./Navbar.astro";
---

<section class="w-full relative px-10 bg-white">
    <div class="right-0 h-auto w-1/2 top-1/2 transform -translate-y-1/2 absolute opacity-20">
        <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-white"></div>
        <img src="https://cdn.devdojo.com/assets/patterns/pattern-01.svg">
    </div>
    <div class="left-0 h-auto w-1/2 top-1/2 -translate-y-1/2 transform rotate-180 absolute opacity-20">
        <div class="absolute inset-0 bg-gradient-to-b from-white via-transparent to-white"></div>
        <img src="https://cdn.devdojo.com/assets/patterns/pattern-01.svg">
    </div>
    <Navbar />
</section>