---
const { heading, blurb } = Astro.props;
---
<section class="h-auto px-10 bg-gray-900 py-16">
    <div class="max-w-3xl mx-auto space-y-4 sm:text-center">
        <h1 class="text-4xl sm:text-5xl font-semibold text-white">
            {heading}
        </h1>
        <p class="text-gray-300 text-lg sm:text-xl leading-normal">
            {blurb}
        </p>
    </div>
</section>