---
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
const { pageTitle } = Astro.props;

function removeTrailingSlash(str: string) {
	return str.replace(/\/+$/, '');
  }
  
const canonicalUrl = removeTrailingSlash(new URL(Astro.url.pathname, Astro.site).toString());
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<link rel="canonical" href={canonicalUrl} />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="sitemap" href="/sitemap-index.xml" />
	</head>
	<body>
		<Header />
        <slot />
        <Footer />
	</body>
</html>